In [1]:
# 123 



money_dollar = input('달러를 입력하시오:')
money_list = money_dollar.split(' ')
calculate =int(money_list[0])
print(calculate * 1167, '원')


# 사용자로부터 100 달러, 1000 엔, 13 유로, 100 위안 이런식으로 입력 받은 후 
# 원으로 변환하는 프로그램 작성 
# 연산을 해야하니까 int로 바꿔야 하는데, 띄어쓰기 이후에 문자가 있다.
# 띄어쓰기 앞은 숫자로, 띄어쓰기 뒤는 문자로 처리 

# 첫번째 시도 : * 글자가 1167번 나옴
# 두번째 시도 : int로 바꿨는데 띄어쓰기 후 문자 적어야 하니까 적용 안됨.
# 


# key : split 
# split() 함수는 문자열에서 특정 문자를 기준으로 좌, 우로 끊은 뒤 리스트로 반환
# str.split('기준 문자') -> 인덱스 활용

달러를 입력하시오:100 달러
116700 원

In [2]:
money_dollar = input('환전할 금액을 입력:') # 환전할 돈을 입력
money_list = money_dollar.split(' ')  # 공백을 기준으로 나누고 리스트로 변환
calculate =int(money_list[0])  # 인덱스 0번째 자리를 정수형 변환 

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}

print(calculate * 환율[money_list[1]])

환전할 금액을 입력:100 달러
116700

In [3]:
# if를 쓰는건가? 근데 if를 쓰기에는 문장이 엄청 짧았는데 
# 뭔가 빈칸안에 저 문자열이 들어가는 코드를 작성하는 것 같은데 
# 딕셔너리 key - vlaue 개념이 필요할 것 같음 
# values()로 지정을 하면 환율 값들의 요소들을 반환하므로 인덱스로 지정해줘야 함

In [4]:
# 124 

number_list = []

a = input('number1: ') 
number_list.append(a)

b = input('number2: ')
number_list.append(b)

c = input('number3: ')
number_list.append(c)    

print(number_list)
number_list.sort(reverse = True)
print(number_list[0])
    
# 빈 리스트 생성 -> 숫자를 리스트에 하나씩 넣어주기 ->
# 오름차순 -> 인덱스 0번 출력    
# 입력 받은 값을 리스트에 넣기 :

number1: 3
number2: 4
number3: 5
['3', '4', '5']
5

In [5]:
# 125 

number = input('휴대전화 번호 입력 : ')
number_list = number.split('-')
print(number_list)

if number_list[0] == '011' :
    print('당신은 SKT 사용자입니다.')
elif number_list[0] == '016' :
    print('당신은 KT 사용자입니다.')    
elif number_list[0] == '019' :
    print('당신은 LGU 사용자입니다.')    
elif number_list[0] == '010' :
    print('알수없음.')    
else :
    print('다시 입력해주세요')  

# split으로 - 기준으로 분할 (자동으로 리스트 반환) -> 할당받을 리스트를 따로 지정!!
# 리스트 슬라이싱 이용 -> if 문 이용 
# else 는 조건을 가질 필요없음

휴대전화 번호 입력 : 010-2032-1322
['010', '2032', '1322']
알수없음.

In [6]:
# 126 

number = input('우편번호 : ')
number_index = number[2]

if number_index in ['0','1','2'] :
    print('강북구')
elif number_index in ['3','4','5'] :
    print('도봉구')
elif number_index in ['6','7','8','9'] :
    print('도봉구')
else :
    print('다시 입력해주세요.')
    
    
# 문자열 인덱스 
# == 연산자로 여러값을 동시에 비교할 수 없다. -> in 을 사용하여 리스트 이용

우편번호 : 2342342342
도봉구

In [7]:
# 127 

number = input('주민등록번호:')
print(number[7])

if number[7] in ['1','3'] :
    print('남자')
    
elif number[7] in ['2','4'] :
    print('여자')


else : 
    print('다시 입력해주세요.')
    
# 문자열로 계산

주민등록번호:23424234234
4
여자

In [8]:
# 128

number = input('주민등록번호:')
number_list = number.split('-')[1]   # split로 주민등록번호 뒷자리만 출력 
print(number_list)


# 사용하는 뒷자리 부분 인덱싱 
# 그냥 in 쓰고 싶은데 이진수때매 계속 막히니까 다른 방법을 찾아야 함 
# 서울하고 부산을 나눌 수 있는게 뭐가 있을까, 두 지역 코드의 차이점은?
# 앞자리가 0이고, 뒷자리가 8이하인가 = 서울
# 앞자리가 0인데 뒷자리가 9이상이거나 앞자리가 1

if number_list[0] == '0' :
    if number_list[1] <= '8' :
        print('서울 입니다.')
    else : 
        print('서울이 아닙니다.')

elif number_list[0] == '1' :
    if number_list[1] in ['0','1','2'] :
        print('서울 입니다.')
    else: 
        print('서울이 아닙니다.')
        
else : 
    print('다시 입력해주세요.')
    



# range 함수 사용 : 연속된 숫자들을 만들어내는데 사용되는 내장 함수 
# 슬라이싱 밖에 안 떠오르는데 이진수인가 뭔가 때문에 코드는 안 만들어짐
# 답지에서 사용한 것 split 함수와 index [-3]
# 문자열로 입력하는 곳 주의

주민등록번호:32423423

IndexError: list index out of range

In [ ]:
# if 0 <= int(뒷자리[1:3]) <= 8:
# 핵심 Key는 슬라이싱 한 부분은 int로 정수형 변환해서 정수형 연산을 이용했다.
# 나는 문자열의 슬라이싱 비교에서 사고가 그쳤고, 정수형 변환 생각 하지 못함.

In [ ]:
# 129

# 주민등록번호는 13자리 구성, 마지막 자리수는 주민등록번호 유효성 
# 앞의 12자리 숫자에 2,3,4,5,6,7,8,9,2,3,4,5 를 차례대로 곱한 뒤, 그 값 전부 더하기 
# 11 - 연산 결과 값을 11로 나눈 나머지 = 주민등록번호의 마지막 번호

In [ ]:
# 파이썬 나누기 연산 
# 나누기 / 
print(2/3)

# 몫
print(3//2)

# 나머지 값 % 연산자
print(2%3)

In [17]:
# 129
# 아니 이게 초보자 문제라고..? 내가 이걸 어케 풀어 ㅠㅠ 그냥 지피티 돌려버리고 싶다.

users = input('주민번호를 입력하세요:')
print(users) # 일단 주민번호를 입력받자
# 힌트를 봤는데 노가다 느낌이 많이 났음

# 이건 - 를 기준으로 앞뒤 모두 이용하므로 굳이 split() 함수를 쓸 필요없다고 느낌
# 연산을 하려면 input()은 문자열 형식으로 받았으므로 int() 로 변환해야 함

plus = int(users[0])*2 + int(users[1])*3 + int(users[2])*4  + int(users[3])*5 +\
int(users[4])*6 + int(users[5])*7 + int(users[7])*8 + int(users[8])*9 +\
int(users[9])*2 + int(users[10])*3 + int(users[11])*4 + int(users[12])*5 
print("계산결과",plus)

last = 11 - plus % 11 


if users[-1] == str(last) :
    print('유효한 주민등록번호입니다')
else : 
    print('유효하지 않은 주민등록번호입니다.')
    
    
# last를 문자열로 변환하는 이유는 값 비교 용이 
# 정수형 인덱스 연산은 불가능 
# 두 값을 비교하려면 타입을 맞춰줘야 합니다.

주민번호를 입력하세요:821010-1635214
821010-1635214
계산결과 128
유효한 주민등록번호입니다

In [ ]:
users = input('주민번호를 입력하세요: ')

if len(users) == 13:
    plus = int(users[0]) * 2 + int(users[1]) * 3 + int(users[2]) * 4 + int(users[3]) * 5 + \
           int(users[4]) * 6 + int(users[5]) * 7 + int(users[7]) * 8 + int(users[8]) * 9 + \
           int(users[9]) * 2 + int(users[10]) * 3 + int(users[11]) * 4 + int(users[12]) * 5
    print("계산 결과:", plus)
else:
    print("올바른 주민번호를 입력하세요.")

In [27]:
# 130

# 아 문제를 본 후로 되게 하.. 이걸 어케 풀지라는 막연함이 오는게 ㅠㅠ

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
# btc 딕셔너리 안에는 시가,종가,최고가,최저가 등이 저장 
# 최저가 - 최고가의 차이를 변동폭으로 정의 
# 시가 + 변동폭 > 최고가 = 상승장, 그렇지 않으면 하락장 

최고가 = float(btc['max_price'])  # 최고가 
최저가 = float(btc['min_price'])  # 최저가 
변동폭 = 최고가 - 최저가

시가 = float(btc['opening_price'])    # 시가
종가 = float(btc['closing_price'])   # 종가 

if 변동폭 + 시가 > 최고가 : 
    print('상승장')
    
else :
    print('하락장')
    
    
# 딕셔너리는 키 사용이 핵심이다. 
# -> 값을 알려면 dict[key]

# 반환하는 데이터가 일반적으로 문자열 형태로 제공된다.
# -> 키에 해당하는 값을 가져와서 실수형 float 변환 후 변수에 할당 

# key name 에 '' 붙여주기

상승장

In [23]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [ ]:
# 131 

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 사과,  귤, 수박

In [ ]:
# 132 

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#### 

# for문의 핵심은 '들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다.'

In [ ]:
# 133

print('A')
print('B')
Print('C')

In [ ]:
# 134

print('출력: A')
print('출력: A')
print('출력: A')

In [ ]:
# 135

print('변환','a')
print('변환','b')
print('변환','c')

In [2]:
# 136 

변수 = [10,20,30]
for 변수 in number:
    print(변수)

10
20
30

In [3]:
# 137

i = [10,20,30]
for i in number:
    print(i)

10
20
30

In [6]:
# 138

number = [10,20,30]

for i in number:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [8]:
# 139

number = [10,20,30]

print("++++")

for i in number:
    print(i)

++++
10
20
30

In [9]:
# 140 

slice = (1,2,3,4)

for 변수 in slice:
    print("-------")

-------
-------
-------
-------

In [11]:
# 141 

리스트 = [100, 200, 300]

for i in 리스트 :
    print(i+10)

110
210
310

In [13]:
# 142 

리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print('오늘의 메뉴: '+i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [15]:
# 143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# length 이용하는 것 같은데 

for i in 리스트:
    print(len(i))

6
4
4

In [16]:
# 144

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [19]:
# 145

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [24]:
# 146

리스트 = [1, 2, 3]

for i in 리스트:
    print('3 x' ,i)

3 x 1
3 x 2
3 x 3

In [26]:
# 147

리스트 = [1, 2, 3]

for i in 리스트:
    print('3 x',i,'=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [29]:
# 148

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:4]:
    print(i)
    
# range에서 문자열은 넣을 수 없고 정수만 가능하다.

나
다
라

In [7]:
# 149

리스트 = ["가", "나", "다", "라"]
number = 0 

for i in 리스트[0:4:2] :
    print(i)

가
다

In [8]:
# 149

리스트 = ["가", "나", "다", "라"]
number = 0 

for i in 리스트[ : :2] :
    print(i)

가
다

In [13]:
# 150

리스트 = ["가", "나", "다", "라"]
리스트.sort(reverse = True)
print(리스트)

for i in 리스트:
    print(i)

['라', '다', '나', '가']
라
다
나
가

In [2]:
# 151

리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0 :
        print(i)

-20
-3

In [17]:
# 152 

리스트 = [3, 100, 23, 44]

for i in 리스트 :
    if i % 3 == 0 :
        print(i)

# 3의 배수 출력 : 3 * k 형식일 것 같음
# k는 정수이지 않을까 
# 나누어떨어지면 배수라는게 증명되는구나

3

In [20]:
# 153

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i % 3 == 0 and i < 20 :
        print(i)

12
18

In [2]:
# 154

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3 : 
        print(i)

study
python
language

In [4]:
# 155

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == True:
        print(i)
        
# 리스트에서 대문자만 출력

A
D

In [5]:
# 156

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower() == True :
        print(i)

b
c

In [6]:
# 157

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트: 
    print(i.upper())

DOG
CAT
PARROT

In [10]:
# 158

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    a = i.split('.')
    print(a[0])

hello
ex01
intro

In [15]:
# 159

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split('.')
    if a[1] == 'h' :
        print(i)
        

# split로 분리하고, 첫번째 인덱스가 h인거 print 하기

intra.h
define.h

In [21]:
# 160

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a = i.split('.')
    if a[1] == 'h' or a[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [3]:
# 161 

for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [5]:
# 162 
# range의 세번째 파라미터는 증감폭을 결정한다.

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [10]:
# 163 

for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [12]:
# 164
# for range 역순 - 간격 칸 앞에 마이너스 붙이기 

for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
# 165

# range 의 step 파라미터는 int 형만 올 수 있다.
# numpy 모듈의 arange 함수는 반열린구간 [srart, stop] 에서 step 의 크기만큼
# 일정하게 떨어져 있는 숫자들을 array 형태로 반환해주는 함수다. 

import numpy as np
np.arange(0,1,0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [10]:
# 165 
# 힌트 - 나누기를 이용하기 
# 아 소수점이 분수꼴이니까 나누기를 이용했구나 

# 다른식으로 풀기 

for i in range(0,10,1):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [14]:
# 166
# 구구단 3단 출력하기 


for i in range(1,10):
    print('3 x',i,'='' ',3*i)

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27

In [3]:
# 167
# 홀수번째 출력하는게 나누기 이용했던 것 같음, 2로 나눠서 0이 아닐 때 

for i in range(1,10,2):
    print('3 x',i,'=',3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [5]:
# 168
# 더하기, 누적,어디다가 저장하기 

item = []
for i in range(1,11):
    item.append(i)
    
print(sum(item))

# 리스트의 모든 원소들 더한 값 출력

55

In [8]:
# 169
# 모든 홀수의 합 출력 

item = []  # 합은 일단 빈 리스트 만들고 시작하기 
for i in range(1,11,2):
    item.append(i)
    
print(sum(item))

25

In [13]:
# 170 
# 차례차례 곱하는 형식을 이용해야 할 것 같음 
# 파이썬에서 변수의 시작은 초기화부터이다. 
# 코드 실행 전에 내가 한번 시뮬레이션 머리로 돌리고 실행하기 

k = 1
for i in range(1,11):
    k = k*i
    print(k)    

# 이거 이용해야할 것 같은데 
# 이렇게 되면 i가 1,2,3,4,5,6,7,8,9,10 까지 나옴

1
2
6
24
120
720
5040
40320
362880
3628800

In [3]:
# 171 번 
# range() 함수는 정수 값을 받아야 하지만 여기서는 리스트가 전달되었기에 오류가 발생
# len 와 index 이용하기 

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [2]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

In [4]:
# 172 

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [11]:
# 173

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-(i+1), price_list[i])

3 32100
2 32150
1 32000
0 32500

In [9]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(len(price_list)-(i+1),price_list[i])

3 32100
2 32150
1 32000
0 32500

In [16]:
# 174 

price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    k = 90 + 10*i
    print(k,price_list[i])

100 32150
110 32000
120 32500

In [22]:
# 175 

my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [26]:
# 176

my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [35]:
# 177

my_list = ["가", "나", "다", "라"]
my_list.reverse()
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

라 다
다 나
나 가

In [38]:
# 178

my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [42]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [49]:
# 180

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(5):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [4]:
# 181
# 2차원 리스트는 1차원 리스트를 묶어놓은 구조
# 2차원 리스트의 선언은 세로길이(행의 개수), 가로길이(열의 개수)를 필요로 한다.


apart = [['101호','102호'],['201호','202호'],['301호','302호']]
print(apart)

one = ['101호','102호']
two = ['201호','202호']
three = ['301호','302호']

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [6]:
# 182 

stock = [['시가',100,200,300],['종가',80,210.330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210.33]]

In [6]:
# 183
# key와 value 로 저장 

stock = {'시가' : [100,200,300],'종가' : [80,210,330]}

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [7]:
# 184

stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [19]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    print(i[0], '호')
    print(i[1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [21]:
# 186 

apart = [ [101, 102], [201, 202], [301, 302] ]
apart.reverse()

for i in apart :
    print(i[0],'호')
    print(i[1],'호')
    
# 리스트 요소 뒤집을때 reverse ()

301 호
302 호
201 호
202 호
101 호
102 호

In [22]:
# 187 

apart = [ [101, 102], [201, 202], [301, 302] ]
apart.reverse()

for i in apart:
    print(i[1],'호')
    print(i[0],'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [24]:
# 188

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    print(i[0], '호')
    print('- - - - -')
    print(i[1],'호')
    print('- - - - -')

101 호
- - - - -
102 호
- - - - -
201 호
- - - - -
202 호
- - - - -
301 호
- - - - -
302 호
- - - - -

In [1]:
# 188


apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for element in i:
        print(element, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [4]:
# 189

apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for a in i:
        print(a,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [8]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [10]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for a in i:
        print(a)
    print('-----')

101
102
-----
201
202
-----
301
302
-----

In [9]:
# 190 

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for a in i:
        print(a, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [12]:
# 191 

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


for i in data:
    for a in i:
        print(a * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [13]:
# 192

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]


for i in data:
    for a in i:
        print(a * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [17]:
# 193

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data:
    for a in i:
        result.append(a * 1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [18]:
# 194

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data:
    for a in i:
        result.append(a * 1.00014)
    print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [21]:
# 195

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:   
    # 리스트의 슬라이싱을 사용하여 두번째 요소부터 마지막 요소 출력 
    print(i[3])

100
190
310

In [24]:
# 196

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if (i[3] > 150):
            print(i[3])

190
310

In [26]:
# 197

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc:
    if (i[0] <= i[3]):
        print(i[3])

100
310

In [30]:
# 198

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(int(i[1]-i[2]))
    
print(volatility)

[40, 30, 10]

In [32]:
# 199

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    if i[3] > i[0]:
        volatility.append(int(i[1]-i[2]))
    
print(volatility)

[10]

In [35]:
# 200

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(int(i[3]-i[0]))
    
volatility = sum(volatility)    
print(volatility)

0

In [9]:
# 201

def print_coin():
    print("비트코인")

In [10]:
# 202

print_coin()

비트코인

In [13]:
# 203

def print_coin():
    print("비트코인"*100)
    
print_coin()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [15]:
# 203

def print_coin():
    print("비트코인")
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [17]:
# 204

def print_coins():
    print("비트코인" * 100)
    
print_coins()

비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인

In [19]:
def print_coins():
    print("비트코인")
    
for i in range(100):
    print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [25]:
# 205


hello()
def hello():
    print("Hi")
    
# 순서가 거꾸로 되었으므로 오류가 날 수 있다.

Hi

In [ ]:
# 206 

def message() :
    print("A")
    print("B")

message()
print("C")
message()

# A B C A B

In [ ]:
# 207

print("A")

def message() :
    print("B")

print("C")
message()


# A C B

In [ ]:
# 208 

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()


# A C B E D

In [ ]:
# 209

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B A

In [ ]:
# 210

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()


# B C B C B C A

In [ ]:
# 211

안녕 
Hi

In [1]:
# 212

7
15

15

In [ ]:
# 213

# 출력할 문자열도 함께 입력해야 함

In [ ]:
# 214

서로 형이 다르다. 문자열과 정수형은 연산이 되지 않는다.

In [6]:
# 215

def print_with_smile(문자열):
    print(문자열 + ":D")
    
print_with_smile('유희')

유희:D

In [7]:
# 216

print_with_smile('안녕하세요')

안녕하세요:D

In [8]:
# 217

def print_upper_price(정수형):
    print(정수형 * 0.7)
    
print_upper_price(10000)

7000.0

In [9]:
# 218

def print_sum(a,b):
    print(a + b)

print_sum(3,4)

7

In [11]:
# 219 

def print_arithmetic_operation(a, b):
    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)

print_arithmetic_operation(3, 4)

7
-1
12
0.75

In [17]:
# 220 


def print_max(a,b,c):
    if a>b:
        if a>c:
            print(a)
    elif b>a:
        if b>c:
            print(b)
    elif c>a:
        if c>b:
            print(c)     
    else:
        print('세개의 숫자를 다르게 입력해주세요')
        
print_max(3,6,4)

6

In [28]:
# 220
# 비교가 되는 기준점 변수를 하나 세우고 쫘르륵 비교하기 


def print_max(a,b,c):
    max_value = 0
    if a > max_value:
        max_value = a 
        
    if b > max_value:
        max_value = b 
        
    if c > max_value:
        max_value = c      
        
    print(max_value)    
    
print_max(3,7,1)

7

In [39]:
# 221
# 문자열 역순으로 출력 

my_list = []

def print_reverse(문자열):
    my_list = list(문자열)
    my_list.reverse()
    print(my_list)
          
print_reverse('우유희')

['희', '유', '우']

In [41]:
# 221

def print_reverse(문자열):
    print(문자열[::-1])
          
print_reverse('우유희')

희유우

In [47]:
# 222
# 함수의 매개변수를 리스트로 받아들여야 함
# 함수 호출 시에도 리스트를 넘겨주는 방식 

def print_score(scores):
    a,b,c = scores
    print((a+b+c)/3)



print_score ([1, 2, 3])

# key point는 리스트가 한 묶음이니까 하나의 변수로 담았다는거
# 함수 옆에 괄호 안의 자리는 변수자리임을 기억하기

2.0

In [46]:
# 222

def print_score(scores):
    print(sum(scores)/len(scores))

print_score ([1, 2, 3])

2.0

In [54]:
# 223

def print_even(couple_list):
    for i in couple_list:
        if i/2 == 0:
            print(i)
        
print_even ([1, 3, 2, 10, 12, 11, 15])

In [56]:
def print_even(couple_list):
    for i in couple_list:
        if i%2 == 0:
            print(i)
        
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [5]:
# 224

def print_keys(my_dict):
    print(my_dict.keys())


print_keys ({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])

In [8]:
# 224 

my_list = []

def print_keys(my_dict):
    my_list = list(my_dict.keys())
    print(my_list[0])
    print(my_list[1])
    print(my_list[2])

print_keys ({"이름":"김말똥", "나이":30, "성별":0})


# 리스트 생성 -> 딕셔너리 .keys()로 키 값만 빼서 리스트에 넣어주기 
# 리스트에 있는 것들 인덱스 지정으로 하나하나 print() 해주기

이름
나이
성별

In [10]:
# 224

def print_keys(dict_key):
    for i in dict_key.keys():
        print(i)
        
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [2]:
# 225 

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(문자열):
    print(my_dict[문자열])
    
print_value_by_key( "10/26")    

# 변수를 문자열로 받음
# 딕셔너리.['키 값'] 적으면 value 가 출력 됨.

[100, 130, 100, 100]

In [ ]:
# 225

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key) :
    print(my_dict[key])


print_value_by_key(my_dict, "10/26")   
# my_dict 에서 '10/26' 이라는 키에 해당하는 값을 출력 
# 변수가 두개 들어가있으면, 밑에 변수 두개를 이용하여 코드를 작성해주면 된다.

In [3]:
# 226

def print_5xn(string):
    print(string[0:5])
    print(string[5:11])


print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 226

def print_5xn(line):       
    chunk_num = int(len(line) / 5)    
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

In [ ]:
# 226번 모르는 부분 정리 

# print_5xn 이라는 함수에 line 이라는 인수
# / 기본적인 나누기 형태, // 몫에 대한 계산 결과, % 나머지 값을 리턴 
# int() 함수는 12/5 의 계산결과가 2.4 일때, 소수점 이하가 버려지고 
# 정수 부분만을 얻게 된다. int() 함수는 반올림을 수행하지 않는다. 
# 나머지 부분이 있을 수 있으니 chunk_num에 1을 더해주는 것이다.
# for i in range(숫자)에서 숫자 값은 0부터 시작하여 끝 값을 포함하지 않는다. 
# 0부터 시작하는데 끝 숫자는 포함하지 않으므로, 본래의 수와 같다. +1을 해야함
# 인덱스 또한 0부터 시작하고 끝 숫자는 포함하지 않으므로 주의한다.

In [11]:
# 226


def print_5xn(문자열):
    counts = len(문자열)
    for i in range(int(counts/5) + 1):
        print(문자열[i*5 : i*5 +5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [13]:
# 227


def printmxn(문자열, counts):
    calcul = int(len(문자열)/counts)
    for i in range(calcul + 1):
        print(문자열[i * 3 : i*3 +3])
        
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [14]:
# 228

def calc_monthly_salary(annual_salary):
    print(int(annual_salary/12))
    
calc_monthly_salary(12000000)

# 1원 미만은 버려라 -> 소수점은 버려라 -> int()

1000000

In [ ]:
# 229

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)


# 왼쪽 : 100
# 오른쪽 : 200

In [ ]:
# 230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)


# 왼쪽 : 200
# 오른쪽 : 100

In [ ]:
# 231

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능하다.
# 함수 내부에서 계산한 값을 외부로 전달하기 위해서는 return 문을 사용

In [2]:
def hamsu(x,y):
    result = x + y
    return(result)

hamsu(1,3)

4

In [8]:
# 232

def make_url(문자열):
    print('www.'+문자열+'.com')


make_url("naver")

www.naver.com

In [9]:
# 233 


def make_list(string):
    print(list(string))

make_list("abcd")

['a', 'b', 'c', 'd']

In [6]:
# 234

my_list = []

def pickup_even(list):
    for a in list:
        if a % 2 == 0:
            my_list.append(a)
    print(my_list)       


pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [12]:
# 235

def convert_int (문자열):
    문자열 = 문자열.replace(',','')
    print(int(문자열))
    
convert_int("1,234,567")

1234567

In [ ]:
# 236

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)


a = 14
b = 18
c = 22

In [ ]:
# 237

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)


함수(10) = 14
함수(함수10) = 18
함수(함수(함수(10))) = 22

In [ ]:
# 238

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

# 140

In [ ]:
# 239

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

# 16

In [ ]:
# 240

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)


# 28

In [1]:
# 241

import datetime  # datetime은 현재 시간을 출력하는 모듈이다.

now = datetime.datetime.now()  # datetime의 모듈을 갖고온 후에, datetime
print(now)

2024-03-05 20:08:57.622816

In [2]:
# 242

import datetime

now = datetime.datetime.now()
print(type(now))

<class 'datetime.datetime'>

In [ ]:
# 243

import datetime

now = 



# days는 datetime.timedelta 클래스의 생성자에 전달되는 인자 중 하나이다.
# 이것은 timedelta 객체를 생성할 때 지정된 시간 간격의 일수를 나타낸다.
# days는 생성된 timedelta 객체가 표현하는 시간 간격의 일수를 설정하는데 사용

In [ ]:
# 1-1

# 1-2 
print('주식은 대박이다.')

# 1-3
# print

# 1-4

In [1]:
# 2-1

print('다음 주식:', 89,000 * 100)
print('네이버 주식:',751,000 * 100)

다음 주식: 89 0
네이버 주식: 751 0